# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/out-tsc

# dependencies
node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
testem.log
/typings
*/.env
*.zip
yarn-error.log
public/bundle.js
__snapshots__/

#bundles - For React projects
public/bundle.js
public/bundle.js.map
public/styles.css
public/styles.css.map

# Elastic Beanstalk CLI Files
*/.elasticbeanstalk/*
*/.ebextensions/*

# e2e
/e2e/*.js
/e2e/*.map

# System Files
.DS_Store
Thumbs.db
